[submodule ".skills/mosoo-skills"]
	path = .skills/mosoo-skills
	url = https://github.com/langgenius/mosoo-skills.git
[submodule "apps/driver"]
	path = apps/driver
	url = https://github.com/langgenius/mosoo-agent-driver.git
